In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_excel(r'Gearbest_ecommerce.xlsx')

In [4]:
df.head()

,Price,Model_name,Reviews,Liked,Category
0,17.79$ â€“ 23.31$,"1 Pack New Jeans Standing Flower Pot, Creative...",-1,3,Home & Garden
1,3.36$ â€“ 8.31$,"1 piece of solid color matte bed sheet, solid ...",-10,0,Home & Garden
2,6.88$ â€“ 17.50$,1.8/2.7M Christmas Decoration Rattan Christmas...,-3,0,Home & Garden
3,3.36$ â€“ 7.14$,1/12Pcs DIY Hollow Balls Christmas Plastic Tra...,-10,0,Home & Garden
4,3.35$,1/2pcs Self Draining Soap Holder Silicone Soap...,-1,0,Home & Garden

In [123]:
pd.set_option('display.max_rows',None)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10089 entries, 0 to 10088
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Price       10035 non-null  object
 1   Model_name  10089 non-null  object
 2   Reviews     10089 non-null  int64
 3   Liked       10089 non-null  int64
 4   Category    10089 non-null  object
dtypes: int64(2), object(3)
memory usage: 394.2+ KB

In [8]:
df.describe()

            Reviews         Liked
count  10089.000000  10089.000000
mean      -4.061156      0.987511
std        4.090947      1.915452
min      -70.000000     -4.000000
25%       -6.000000      0.000000
50%       -2.000000      0.000000
75%       -1.000000      1.000000
max       -1.000000     16.000000

### Liked Column

In [14]:
df.Liked.value_counts()

Liked
 0     5946
 1     1955
 2     1107
 4      368
 3      321
 9      199
 7      105
 5       42
 15      40
 6        1
-4        1
-1        1
 8        1
-2        1
 16       1
Name: count, dtype: int64

In [17]:
df[df.Liked.isna()]

Empty DataFrame
Columns: [Price, Model_name, Reviews, Liked, Category]
Index: []

In [24]:
Liked_negative_values = [-1,-2,-4]

df[df['Liked'].isin(Liked_negative_values)]

,Price,Model_name,Reviews,Liked,Category
7852,165.98$ â€“ 373.93$,2024 Original Pad 6 MAX Tablet Global Version ...,-10,-4,Mobile
8280,226.65$ â€“ 231.95$,DOOGEE V20S 5G Rugged Phone 12GB+256GB 6.43 In...,-3,-1,Mobile
8941,129.77â‚¬ â€“ 176.49â‚¬,Original Apple iPhone 6 Unlocked Dual Core 4.7...,-1,-2,Mobile

In [25]:
df.loc[7852,'Liked'] = 4
df.loc[8280,'Liked'] = 1
df.loc[8941,'Liked'] = 2

In [26]:
df[df['Liked'].isin(Liked_negative_values)]

Empty DataFrame
Columns: [Price, Model_name, Reviews, Liked, Category]
Index: []

In [27]:
df.Liked.value_counts()

Liked
0     5946
1     1956
2     1108
4      369
3      321
9      199
7      105
5       42
15      40
6        1
8        1
16       1
Name: count, dtype: int64

In [28]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10089 entries, 0 to 10088
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Price       10035 non-null  object
 1   Model_name  10089 non-null  object
 2   Reviews     10089 non-null  int64
 3   Liked       10089 non-null  int64
 4   Category    10089 non-null  object
dtypes: int64(2), object(3)
memory usage: 394.2+ KB

In [29]:
df

,Price,Model_name,Reviews,Liked,Category
0,17.79$ â€“ 23.31$,"1 Pack New Jeans Standing Flower Pot, Creative...",-1,3,Home & Garden
1,3.36$ â€“ 8.31$,"1 piece of solid color matte bed sheet, solid ...",-10,0,Home & Garden
2,6.88$ â€“ 17.50$,1.8/2.7M Christmas Decoration Rattan Christmas...,-3,0,Home & Garden
3,3.36$ â€“ 7.14$,1/12Pcs DIY Hollow Balls Christmas Plastic Tra...,-10,0,Home & Garden
4,3.35$,1/2pcs Self Draining Soap Holder Silicone Soap...,-1,0,Home & Garden
...,...,...,...,...,...
10084,529.55$ â€“ 596.95$,Original brand Global Version Realme 11 Pro Pl...,-3,2,Mobile
10085,764.04$ â€“ 848.91$,in stock Meizu 21 Snapdragon 8 Gen 3 Dual SIM ...,-3,2,Mobile
10086,145.93$ â€“ 410.63$,Xiaomi Redmi 10 2022 4GB 64GB/ 4GB 128GB Media...,-60,0,Mobile
10087,328.43$ â€“ 403.19$,Global Version OnePlus Nord CE 3 Lite 5G 8GB 1...,-26,1,Mobile
10088,386.52$ Original price was: 386.52$.270.86$Cur...,realme 11 5G 8GB+256GB Dimensity 6100+ 5G,-8,2,Mobile

### Reviews column

In [30]:
df.Reviews.value_counts()

Reviews
-1     2643
-2     2615
-10    2366
-3     2040
-6      217
-5       66
-4       52
-7       25
-9       25
-8       19
-70       8
-14       3
-21       1
-20       1
-52       1
-28       1
-37       1
-40       1
-30       1
-12       1
-60       1
-26       1
Name: count, dtype: int64

In [35]:
df.Reviews = df.Reviews.abs()

In [36]:
df.Reviews.value_counts()

Reviews
1     2643
2     2615
10    2366
3     2040
6      217
5       66
4       52
7       25
9       25
8       19
70       8
14       3
21       1
20       1
52       1
28       1
37       1
40       1
30       1
12       1
60       1
26       1
Name: count, dtype: int64

In [37]:
df

,Price,Model_name,Reviews,Liked,Category
0,17.79$ â€“ 23.31$,"1 Pack New Jeans Standing Flower Pot, Creative...",1,3,Home & Garden
1,3.36$ â€“ 8.31$,"1 piece of solid color matte bed sheet, solid ...",10,0,Home & Garden
2,6.88$ â€“ 17.50$,1.8/2.7M Christmas Decoration Rattan Christmas...,3,0,Home & Garden
3,3.36$ â€“ 7.14$,1/12Pcs DIY Hollow Balls Christmas Plastic Tra...,10,0,Home & Garden
4,3.35$,1/2pcs Self Draining Soap Holder Silicone Soap...,1,0,Home & Garden
...,...,...,...,...,...
10084,529.55$ â€“ 596.95$,Original brand Global Version Realme 11 Pro Pl...,3,2,Mobile
10085,764.04$ â€“ 848.91$,in stock Meizu 21 Snapdragon 8 Gen 3 Dual SIM ...,3,2,Mobile
10086,145.93$ â€“ 410.63$,Xiaomi Redmi 10 2022 4GB 64GB/ 4GB 128GB Media...,60,0,Mobile
10087,328.43$ â€“ 403.19$,Global Version OnePlus Nord CE 3 Lite 5G 8GB 1...,26,1,Mobile
10088,386.52$ Original price was: 386.52$.270.86$Cur...,realme 11 5G 8GB+256GB Dimensity 6100+ 5G,8,2,Mobile

### Price column

In [38]:
df.Price

0                                        17.79$ â€“ 23.31$
1                                          3.36$ â€“ 8.31$
2                                         6.88$ â€“ 17.50$
3                                          3.36$ â€“ 7.14$
4                                                    3.35$
                               ...
10084                                  529.55$ â€“ 596.95$
10085                                  764.04$ â€“ 848.91$
10086                                  145.93$ â€“ 410.63$
10087                                  328.43$ â€“ 403.19$
10088    386.52$ Original price was: 386.52$.270.86$Cur...
Name: Price, Length: 10089, dtype: object

In [44]:
df[df.Price.isna()]

,Price,Model_name,Reviews,Liked,Category
6721,NaN,ã€ Free Shipping ã€‘ Pad 6S Pro Global Versio...,1,15,Computer & Accessories
6745,NaN,ã€ Free Shipping ã€‘ Pad 6S Pro Global Versio...,1,15,Computer & Accessories
6769,NaN,ã€ Free Shipping ã€‘ Pad 6S Pro Global Versio...,1,15,Computer & Accessories
6793,NaN,ã€ Free Shipping ã€‘ Pad 6S Pro Global Versio...,1,15,Computer & Accessories
6817,NaN,ã€ Free Shipping ã€‘ Pad 6S Pro Global Versio...,1,15,Computer & Accessories
6841,NaN,ã€ Free Shipping ã€‘ Pad 6S Pro Global Versio...,1,15,Computer & Accessories
6865,NaN,ã€ Free Shipping ã€‘ Pad 6S Pro Global Versio...,1,15,Computer & Accessories
6889,NaN,ã€ Free Shipping ã€‘ Pad 6S Pro Global Versio...,1,15,Computer & Accessories
6913,NaN,ã€ Free Shipping ã€‘ Pad 6S Pro Global Versio...,1,15,Computer & Accessories
6937,NaN,ã€ Free Shipping ã€‘ Pad 6S Pro Global Versio...,1,15,Computer & Accessories
6961,NaN,ã€ Free Shipping ã€‘ Pad 6S Pro Global Versio...,1,15,Computer & Accessories
6985,NaN,ã€ Free Shipping ã€‘ Pad 6S Pro Global Versio...,1,15,Computer & Accessories
7009,NaN,ã€ Free Shipping ã€‘ Pad 6S Pro Global Versio...,1,15,Computer & Accessories
7033,NaN,ã€ Free Shipping ã€‘ Pad 6S Pro Global Versio...,1,15,Computer & Accessories
7057,NaN,ã€ Free Shipping ã€‘ Pad 6S Pro Global Versio...,1,15,Computer & Accessories
7081,NaN,ã€ Free Shipping ã€‘ Pad 6S Pro Global Versio...,1,15,Computer & Accessories
7105,NaN,ã€ Free Shipping ã€‘ Pad 6S Pro Global Versio...,1,15,Computer & Accessories
7129,NaN,ã€ Free Shipping ã€‘ Pad 6S Pro Global Versio...,1,15,Computer & Accessories
7153,NaN,ã€ Free Shipping ã€‘ Pad 6S Pro Global Versio...,1,15,Computer & Accessories
7177,NaN,ã€ Free Shipping ã€‘ Pad 6S Pro Global Versio...,1,15,Computer & Accessories
7201,NaN,ã€ Free Shipping ã€‘ Pad 6S Pro Global Versio...,1,15,Computer & Accessories
7225,NaN,ã€ Free Shipping ã€‘ Pad 6S Pro Global Versio...,1,15,Computer & Accessories
7249,NaN,ã€ Free Shipping ã€‘ Pad 6S Pro Global Versio...,1,15,Computer & Accessories
7273,NaN,ã€ Free Shipping ã€‘ Pad 6S Pro Global Versio...,1,15,Computer & Accessories
7297,NaN,ã€ Free Shipping ã€‘ Pad 6S Pro Global Versio...,1,15,Computer & Accessories
7321,NaN,ã€ Free Shipping ã€‘ Pad 6S Pro Global Versio...,1,15,Computer & Accessories
7345,NaN,ã€ Free Shipping ã€‘ Pad 6S Pro Global Versio...,1,15,Computer & Accessories
7369,NaN,ã€ Free Shipping ã€‘ Pad 6S Pro Global Versio...,1,15,Computer & Accessories
7393,NaN,ã€ Free Shipping ã€‘ Pad 6S Pro Global Versio...,1,15,Computer & Accessories
7417,NaN,ã€ Free Shipping ã€‘ Pad 6S Pro Global Versio...,1,15,Computer & Accessories
7441,NaN,ã€ Free Shipping ã€‘ Pad 6S Pro Global Versio...,1,15,Computer & Accessories
7465,NaN,ã€ Free Shipping ã€‘ Pad 6S Pro Global Versio...,1,15,Computer & Accessories
7489,NaN,ã€ Free Shipping ã€‘ Pad 6S Pro Global Versio...,1,15,Computer & Accessories
7513,NaN,ã€ Free Shipping ã€‘ Pad 6S Pro Global Versio...,1,15,Computer & Accessories
7537,NaN,ã€ Free Shipping ã€‘ Pad 6S Pro Global Versio...,1,15,Computer & Accessories
7561,NaN,ã€ Free Shipping ã€‘ Pad 6S Pro Global Versio...,1,15,Computer & Accessories
7585,NaN,ã€ Free Shipping ã€‘ Pad 6S Pro Global Versio...,1,15,Computer & Accessories
7609,NaN,ã€ Free Shipping ã€‘ Pad 6S Pro Global Versio...,1,15,Computer & Accessories
7633,NaN,ã€ Free Shipping ã€‘ Pad 6S Pro Global Versio...,1,15,Computer & Accessories
7817,NaN,2024 New Samsung Galaxy A35 5G Smartphone 128G...,1,2,Mobile
8407,NaN,Global ROM OnePlus 12 5G Smartphone Snapdragon...,2,8,Mobile
8423,NaN,Global Rom Xiaomi Redmi Note 11E Pro 5G Smartp...,1,2,Mobile
8448,NaN,Global Version Google Pixel 7 5G Smartphone 6....,3,0,Mobile
8454,NaN,Global Version HONOR 90 5G Smartphone 200MP Ul...,2,0,Mobile
8466,NaN,Global version HONOR Magic6 Pro smartphone 5G ...,2,1,Mobile
8597,NaN,Global Version Xiaomi Redmi Note 13 Pro+ 5G NF...,3,1,Mobile
8925,NaN,Original A32 5G A326U/U1 Unlocked Mobile Cell ...,2,1,Mobile
9146,NaN,realme 12 Pro 5G Smartphone 32MP Telephoto Por...,1,3,Mobile
9181,NaN,S24 Ultra+ Smart Phone Original 7.3 inch 22G+2...,1,2,Mobile
9448,NaN,"Wireless Headphones,QERE E38,NEW TWS Bluetooth...",1,2,Mobile
9527,NaN,Xiaomi Redmi Note 13 Pro 5G Global Version Sma...,3,0,Mobile
9939,NaN,Original Samsung Galaxy Note 10 Plus Note10+ ...,2,16,Mobile
10012,NaN,NEW Global Version POCO X5 5G Smartphone andro...,1,3,Mobile
10013,NaN,POCO X5 Pro 5G Global Version 6GB 128GB / 8GB ...,2,0,Mobile

In [45]:
df[df.Price.isna()].count()

Price          0
Model_name    54
Reviews       54
Liked         54
Category      54
dtype: int64

In [47]:
df = df.dropna(subset=['Price'])

In [49]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 10035 entries, 0 to 10088
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Price       10035 non-null  object
 1   Model_name  10035 non-null  object
 2   Reviews     10035 non-null  int64
 3   Liked       10035 non-null  int64
 4   Category    10035 non-null  object
dtypes: int64(2), object(3)
memory usage: 470.4+ KB

In [68]:
df['Price(in $)'] = df.Price.str.split('$').str.get(0)

C:\Users\MUKUL\AppData\Local\Temp\ipykernel_16932\2550310162.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Price(in $)'] = df.Price.str.split('$').str.get(0)

In [79]:
df['Price(in $)'] = df['Price(in $)'].str.replace(',','')

C:\Users\MUKUL\AppData\Local\Temp\ipykernel_16932\471728979.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Price(in $)'] = df['Price(in $)'].str.replace(',','')

In [87]:
temp = df[df['Price(in $)'].str.contains('â')]

In [84]:
# df['Price(in $)'] = df['Price(in $)'].astype(float)

In [94]:
temp_price_values = temp.Price.str.split('â').str.get(0)
temp_price_index = temp.Price.str.split('â').str.get(0).index

In [95]:
df.loc[temp_price_index, 'Price(in $)'] = temp_price_values

In [96]:
df[df['Price(in $)'].str.contains('â')]

Empty DataFrame
Columns: [Price, Model_name, Reviews, Liked, Category, Price(in $)]
Index: []

In [99]:
df['Price(in $)'] = df['Price(in $)'].str.replace(',','')

C:\Users\MUKUL\AppData\Local\Temp\ipykernel_16932\471728979.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Price(in $)'] = df['Price(in $)'].str.replace(',','')

In [100]:
df[df['Price(in $)'].str.contains(',')]

Empty DataFrame
Columns: [Price, Model_name, Reviews, Liked, Category, Price(in $)]
Index: []

In [101]:
df['Price(in $)'] = df['Price(in $)'].astype(float)

C:\Users\MUKUL\AppData\Local\Temp\ipykernel_16932\357797106.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Price(in $)'] = df['Price(in $)'].astype(float)

In [102]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 10035 entries, 0 to 10088
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Price        10035 non-null  object
 1   Model_name   10035 non-null  object
 2   Reviews      10035 non-null  int64
 3   Liked        10035 non-null  int64
 4   Category     10035 non-null  object
 5   Price(in $)  10035 non-null  float64
dtypes: float64(1), int64(2), object(3)
memory usage: 806.8+ KB

In [106]:
df.drop(columns=['Price'],inplace=True)

C:\Users\MUKUL\AppData\Local\Temp\ipykernel_16932\2844129645.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.drop(columns=['Price'],inplace=True)

In [130]:
df['Price(in $)'] = df['Price(in $)'].round(1)

C:\Users\MUKUL\AppData\Local\Temp\ipykernel_16932\1110207518.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Price(in $)'] = df['Price(in $)'].round(1)

In [131]:
df.head()

,Model_name,Reviews,Liked,Category,Price(in $)
0,"1 Pack New Jeans Standing Flower Pot, Creative...",1,3,Home & Garden,17.8
1,"1 piece of solid color matte bed sheet, solid ...",10,0,Home & Garden,3.4
2,1.8/2.7M Christmas Decoration Rattan Christmas...,3,0,Home & Garden,6.9
3,1/12Pcs DIY Hollow Balls Christmas Plastic Tra...,10,0,Home & Garden,3.4
4,1/2pcs Self Draining Soap Holder Silicone Soap...,1,0,Home & Garden,3.4

In [132]:
df.to_excel('Gearbest_ecommerce_clean.xlsx',index=False)